
.game-td-point {
    background-color: yellow;
}

.game-td-empty {
    color: white;
}

.game-td-player {
    background-color: lightskyblue;
}

.game-table > tr {
    text-align: center;
}

.game-table {
    user-select: none;
}
