
.game-td-point {
    color: black;
    background-color: yellow;
}

.game-td-empty {
    color: white;
}

.game-td-player {
    color: black;
    background-color: lightgreen;
}

.game-table > tr > td {
    border: 1px solid #CCC;
}

.game-table > tr {
    text-align: center;
}

.game-table {
    user-select: none;
    width: 100%;
}
